code {
  font-size: 0.85rem;
  font-family: Courier, monospace;
  line-height: 1.66rem;
  font-weight: 600;
  color: #e53935;
  background-color: rgba(38, 50, 56, 0.05);
  white-space: break-spaces;
  word-wrap: break-word;
  max-width: 100%;
}

code.regex {
  font-size: 0.75rem;
  font-family: Courier, monospace;
  line-height: 1.66rem;
  font-weight: 600;
  color: #0e7c86;
  background-color: rgba(38, 50, 56, 0.05);
  white-space: break-spaces;
}

.eqivia {
  border-radius: 2px;
  background-color: rgba(51, 51, 51, 0.05);
  color: rgba(51, 51, 51, 0.9);
  padding: 0px 5px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  font-family: Courier, monospace;
  white-space: break-spaces;
  word-wrap: break-word;
}