openapi: 3.1.0
info:
  version: 0.1.0
  title: zviha.ai
  termsOfService: 'https://zhiva.ai/terms/'
  contact:
    email: ceo@zhiva.ai
    url: 'https://zhiva.ai/contact'
  description:
    $ref: ./info-description.md
tags:
  - name: Semantic Segmentation
    description: Semantic Segmentation API
  - name: Polygon
    description: Polygon Annotations
x-tagGroups:
  - name: Segmentation
    section: inferences
    tags:
      - Semantic Segmentation
  - name: Annotations
    section: inferences
    tags:
      - Polygon
servers:
  - url: 'https://api.zhiva.ai/v1'
paths:
  '/segmentations/{model-uid}/studies/{study-uid}':
    $ref: 'paths/segmentations/segmentations@{model-uid}@{study-uid}.yaml'
  '/segmentations/{model-uid}/studies/{study-uid}/series/{series-uid}':
    $ref: 'paths/segmentations/segmentations@{model-uid}@{study-uid}@{series-uid}.yaml'
  '/segmentations/{model-uid}/studies/{study-uid}/series/{series-uid}/instances/{sop-instance-uid}':
    $ref: 'paths/segmentations/segmentations@{model-uid}@{study-uid}@{series-uid}@{sop-instance-uid}.yaml'
  '/annotations/{model-uid}/studies/{study-uid}':
    $ref: 'paths/annotations/annotations@{model-uid}@{study-uid}.yaml'
  '/annotations/{model-uid}/studies/{study-uid}/series/{series-uid}':
    $ref: 'paths/annotations/annotations@{model-uid}@{study-uid}@{series-uid}.yaml'
  '/annotations/{model-uid}/studies/{study-uid}/series/{series-uid}/instances/{sop-instance-uid}':
    $ref: 'paths/annotations/annotations@{model-uid}@{study-uid}@{series-uid}@{sop-instance-uid}.yaml'
components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'read:models': read users info
    api_key:
      type: apiKey
      in: header
      name: api_key